extends layouts/home_layout

block content 
    if errorMessage 
        span.errorMessage= errorMessage
    else
        script. 
            const chatJS = !{chatJS};
            const userRequestJS = !{userRequestJS};
        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userRequest)
                span#chatName(data-toggle='modal', data-target='#chatNameModal')
            .mainContentContainer
                .chatContainer
                    .chatMessages
                    .footer
                        textarea(name='messageInput', placeHolder='Type something...') 
                        button.sendMessageButton
                            i.fas.fa-paper-plane

        +createChatNameModal(chat)

block scripts 
    script(src="/js/chat.js") 